

{% extends "@Admin/layout.html.twig" %}
{% block main %}
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<style type="text/css">

    #linechart {
       width:inherit;
        height: 400px;
        margin: 0 auto
    }

    #genderpiechart {
        width:inherit;
        height: auto ;
        margin: 0 auto
    }

    #barchart {
        width:inherit;
        height: auto ;
        margin: 0 auto
    }

    /* DivTable.com */
    .divTable{
        display: table;
        width: 100%;
    }
    .divTableRow {
        display: table-row;
    }
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }
    .divTableCell, .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
    }
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }
    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }
    .divTableBody {
        display: table-row-group;
    }





</style>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"> </script>
<script src="https://use.fontawesome.com/b2d961dbda.js"></script>
<style type="text/css">
    .media-photo {
        width: 35px;
    }
    .table-fixed thead {
        width: 97%;
    }
    .table-fixed tbody {
        height: 230px;
        overflow-y: auto;
        width: inherit;
    ;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;

    }
    .table-fixed tbody td, .table-fixed thead > tr> th {
        float: left;
        border-bottom-width: 0;
    }


</style>
<script type="text/javascript">

    {{ chart(genderpiechart) }}
    {{ chart(barchart) }}
    {{ chart(linechart) }}


</script>
<body>
<table  width="100%">
    <tbody>
    <tr>
        <td valign="center"  > <h2> Nombre totale d'utilisateur : {{ nbrusers }} </h2></td>
        <td valign="center"  >  <h2> Nombre d'utilisateur bloqué  : {{ nbrblocked }} </h2> </td>
        <td valign="center"  >  <h2> Nombre d'utilisateur inactive: {{ nbrinactive }} </h2></td>

    </tr>
    </tbody>
</table>
<table border="1" width="100%">

    <tbody>

    <tr>
        <td style="width: 800px;"><div id="linechart"></div></td>
        <td><div id="genderpiechart"></div></td>
    </tr>
    <tr>
        <td  style="width: 500px;"><div id="barchart"></div></td>
        <td  valign="center" >
            <table class="table table-fixed">
                <caption><h4>Les utilisateurs les plus actifs</h4></caption>
                <thead>
                <tr>
                    <th class="col-xs-8">Name</th><th class="col-xs-2">Points</th>
                </tr>
                </thead>
                <tbody>

                {% for k in users  %}
                    <tr>

                        <td class="col-xs-8">
                            <img src="http://localhost/upload/uploads/user.png" class="media-photo">
                            {{ k[0].firstname }} {{ k[0].lastname }}
                            &nbsp; ({{ k[0].email }})&nbsp;
                            {% if    k[0].gender == 'Femme' %}
                                <i class="fa fa-female fa-2x "   style="color:#F62459;" aria-hidden="true"></i>
                            {% else  %}
                                <i class="fa fa-male fa-2x "   style="color:#3498db;" aria-hidden="true"></i>
                            {% endif %}




                        </td>


                        <td class="col-xs-2">{{ k['d'] }}</td>
                    </tr>
                {% endfor %}




                </tbody>
            </table>

        </td>
    </tr>

    </tbody>
</table>




    {% endblock %}