
<!DOCTYPE html>
<html lang="fr">

<head>
    {% block head %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="fr" />
    <meta name="author" content="Rosemont Agency, Amoros Consulting" />
    <meta name="description" content="Site gratuit d'annonces de covoiturage dans les Alpes-Maritimes, au Pays des Paillons" >
    <meta name="keywords" lang="fr" content="Covoiturage, co voiturage, petites annonces covoiturage, co-voiturage, service covoiturage, trajet professionnel, trajet régulier, recherche conducteurs, recherche passagers, déplacement journalier, déplacement occasionnel, transport alternatif, covoiturage régional, frais de transport, sports d'hiver, transports en commun, transport de personnes, auto, festivals, covoiturage Sospel, covoiturage Nice, covoiturage Peille, covoiturage Peillon, covoiturage Lucéram, covoiturage l'Escaréne, covoiturage Drap, covoiturage Coaraze, covoiturage Cantaron, covoiturage Blausasc, covoiturage Berre les Alpes, covoiturage Bendejun" />

    <meta name="abstract" content="covoiturage au Pays des Paillons.">
    <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" type="image/png" href="{{ asset('img/logo.png') }}" />
    <title>Linkar | Proposer un trajet</title>




    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/style.css') }}" />
    <script src="{{ asset('assets/frontoffice/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('assets/frontoffice/js/respond.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/theme-red.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/animate.css') }}" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Montserrat:400,700">



    <link rel="stylesheet" href="{{ asset('assets/backoffice/css/bootstrap.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/owl-carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/owl.transitions.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontoffice/includes/css/lightbox.min.css') }}">
    <!-- SLIDER DES ANNONCES PUB -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontoffice/css/slider.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>



    <!-- DATATABLE -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontoffice/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontoffice/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontoffice/css/dataTables.jqueryui.min.css') }}">


    <!-- ROSEMONT : GOOGLE ANALYTICS -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79531846-1', 'auto');
        ga('send', 'pageview');

    </script>



    <link rel="stylesheet" href="{{ asset('assets/frontoffice/css/dataTables.bootstrap.min.css') }}" />
    {% endblock %}
</head>
<body>
{% block menu %}
<div class="body-overlay"></div>
<!-- 1-->
    <header class="main-header">
        <div class="header-container">
            <div class="container2">
                <div class="row">
                    <div class="header">

                        <div class="top-header">
                            <div class="top-nav-bar hidden-xs hidden-sm" id="">





                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="slider-box parslide">
        <div class="custom-controls">
            <div class="shadow">
                <div class="slider-helper2">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner2" role="listbox">

                            <div class="item active">
                                <img src="{{ asset('assets/frontoffice/images/Layer1.png') }}"  alt="img Luxury room" class="layer2">
                                <div class="carousel-caption2">
                                    <p class="title-up fadeInDownBig hidden-xs">Le Covoiturage</p>
                                    <h1 class="titre"><span>Linkar</span> <em>Covoiturage</em></h1>
                                    <p class="slide-subtitle hidden-xs">Tunisie</p>
                                </div>
                            </div>

                  <!-- 2-->

                            <div class="main-nav" style="margin-left:0px;">
                                <div class="nav-right  hidden-xs hidden-sm">
                                    <nav>
                                        <ul class="nav navbar-nav" id="main-nav">
                                            <li><a href="/index">Home</a></li>
                                            <li><a href="http://localhost/linkar/Web/app_dev.php/affdem">Voir les Demandes</a></li>
                                            <li><a href="http://localhost/linkar/Web/app_dev.php/addann">Proposer un trajet</a></li>
                                            <li><a href="http://localhost/linkar/Web/app_dev.php/adddem">Demander un trajet</a></li>
                                            <li><a href="http://localhost/linkar/Web/app_dev.php/affmesdem">Mes Demandes</a></li>
                                            <li ><a href="/mon_compte">Mes Annonces</a></li>

                                            <li style="width:50px"><a></a></li>

                                            <li class="user-label">



                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                                    <a href="{{ path('fos_user_security_logout') }}">
                                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                                    </a>

                                                {% else %}
                                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                                {% endif %}


                                            </li>

                                        </ul>
                                    </nav>
                                    <div id="btn-trigger">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block navigation %}
    <!-- Main -->
    <main class="main" role="main">



        <div class="wrap">
            <div class="first-title">Proposer un trajet</div>
            <div class="row">

                <!--- Sidebar -->
                <aside class="one-fourth sidebar left">
                    <!-- Widget -->
                    <div class="widget">
                        <ul class="categories">
                            <li class="active" ><a href="http://localhost/linkar/Web/app_dev.php/adddem">Demande</a></li>
                            <li ><a href="http://localhost/linkar/Web/app_dev.php/addann">Annonce</a></li>
                        </ul>
                    </div>
                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->


                <!--- Content MAIN -->

                <div class="three-fourth content">
                    {% endblock %}
                    <!-- Post -->
                    <!--- Content -->
                    <!--- Content -->
                    <!-- Tab trajet Demande-->
                   {% block formDemande %}
                    <article class="single" id="tab1">
                        <form  role="form" class="form-horizontal" method="post" action="/proposer_trajet" data-toggle="validator">
                            <div class="box">
                                <h2>Demande</h2>
                                <fieldset>

                                    <div class="f-row">
                                        <h2 class="red-h2">Votre itinéraire</h2>
                                        <div class="three-fourth">
                                            <label for="depart">Ville de départ<span class="red-ast">*</span></label>
                                            <select name="villeDepart" id="depart" onchange="showInputDepart()" required>
                                                <option value="">Sélectionner une ville de départ</option>
                                                <option value="Tunis">Tunis</option>
                                                <option value="Ariana">Ariana</option>
                                                <option value="Bizerte">Bizerte</option>
                                                <option value="Hammamet">Hammamet</option>
                                                <option value="Manar">Manar</option>
                                                <option value="AUTRE">AUTRE</option>
                                            </select>
                                            <input type='text'  class="" name="autre_villeDepart" id="autre_villeDepart" placeholder="Ville de départ" style="display:none"/>

                                        </div>
                                    </div>

                                    <div class="f-row">
                                        <div class="three-fourth">
                                            <label for="arrivee">Ville d'arrivée<span class="red-ast">*</span></label>
                                            <select name="villeDestination" id="destination"  onchange="showInputDestination()"  required>
                                                <option  value="">Sélectionner une ville d'arrivée</option>
                                                <option value="Tunis">Tunis</option>
                                                <option value="Ariana">Ariana</option>
                                                <option value="Bizerte">Bizerte</option>
                                                <option value="Hammamet">Hammamet</option>
                                                <option value="Manar">Manar</option>
                                                <option value="AUTRE">AUTRE</option>
                                            </select>
                                            <input type='text'  class="" name="autre_villeDestination" id="autre_villeDestination" placeholder="Ville de destination" style="display:none" />
                                        </div>
                                    </div>



                                    <div class="f-row">
                                        <h2 class="red-h2">Date du trajet</h2>
                                        <div class="three-fourth">
                                            <div class="form-group datepicker one-third">
                                                <input type="text" id="dep-date" name="dateAller" placeholder="Date et heure" required />
                                            </div>
                                        </div>
                                    </div>







                                    <div class="f-row">
                                        <h2 class="red-h2">Description</h2>
                                        <div class="three-fourth">
                                            <textarea id="comments" name="description" class="area" placeholder="Informations complémentaires"></textarea>
                                            <br /><br />
                                            <span>Par sécurité, veuillez ne pas donner de numéro de téléphone ou d'adresse email.</span><br /><br />
                                        </div>


                                        <div class="f-row">
                                            <input type="submit" value="Sauvegarder" id="submit2" name="submit2" class="btn color medium" />
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </form>
                    </article>
                    <!-- //Tab -->
                     {% endblock %}
                    {% block formAnnonce %}
                    <!-- Tab  trajet Annonce-->
                    <article class="single" id="tab2">
                        <form  role="form" class="form-horizontal" method="post" action="/proposer_trajet" data-toggle="validator">

                            <div class="box">
                                <h2>Annonce</h2>
                                <fieldset>

                                    <div class="f-row">
                                        <h2 class="red-h2">Votre itinéraire</h2>
                                        <div class="three-fourth">
                                            <label for="depart">Ville de départ<span class="red-ast">*</span></label>
                                            <select name="villeDepart" id="departU" onchange="showInputDepartU()" required>
                                                <option value="">Sélectionner une ville de départ</option>
                                                <option value="Tunis">Tunis</option>
                                                <option value="Ariana">Ariana</option>
                                                <option value="Bizerte">Bizerte</option>
                                                <option value="Hammamet">Hammamet</option>
                                                <option value="Manar">Manar</option>
                                                <option value="AUTRE">AUTRE</option>
                                            </select>
                                            <input type='text'  class="" name="autre_villeDepart" id="autre_villeDepartU" placeholder="Ville de départ" style="display:none"/>


                                        </div>
                                    </div>



                                    <div class="f-row">
                                        <div class="three-fourth">
                                            <label for="arrivee">Ville d'arrivée<span class="red-ast">*</span></label>
                                            <select name="villeDestination" id="destinationU"  onchange="showInputDestinationU()"  required>
                                                <option  value="">Sélectionner une ville d'arrivée</option>
                                                <option value="Tunis">Tunis</option>
                                                <option value="Ariana">Ariana</option>
                                                <option value="Bizerte">Bizerte</option>
                                                <option value="Hammamet">Hammamet</option>
                                                <option value="Manar">Manar</option>
                                                <option value="AUTRE">AUTRE</option>
                                            </select>
                                            <input type='text'  class="" name="autre_villeDestination" id="autre_villeDestinationU" placeholder="Ville de destination" style="display:none" />

                                        </div>
                                    </div>



                                    <div class="f-row">
                                        <h2 class="red-h2">Date et heure du trajet (ALLER)</h2>
                                        <div class="three-fourth">
                                            <div class="form-group datepicker one-third">
                                                <input type="text" id="dep-date" name="dateAller" placeholder="Date et heure" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="f-row check">
                                        <input type="checkbox" id="checkbox1" />
                                        <label for="checkbox1">Trajet Regulier</label>
                                    </div>




                                    <div class="f-row">
                                        <h2 class="red-h2">Places demandée</h2>
                                        <div class="one-half">
                                            <label for="places">Nombre de covoitureurs<span class="red-ast">*</span></label>
                                            <select name="nbPlaces" required>
                                                <option value="1" selected>1</option>
                                                <option value="2" >2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                        <div class="one-half">
                                            <label for="name">Montant par trajet<span class="red-ast">*</span></label>
                                            <input type="text" id="name" name="prix" required/><span class="euro">é</span>
                                        </div>
                                    </div>


                                    <div class="f-row">
                                        <h2 class="red-h2">Description</h2>
                                        <div class="three-fourth">
                                            <textarea id="comments" class="area" name="description" placeholder="Informations complémentaires"></textarea>
                                            <br /><br />
                                            <span>Par sécurité, veuillez ne pas donner de numéro de téléphone ou d'adresse email.</span>
                                            <br /><br />
                                        </div>

                                        <div class="f-row">
                                            <input type="submit" value="Sauvegarder" id="submit2" name="submit" class="btn color medium" />
                                        </div>
                                    </div>
                                </fieldset>

                            </div>

                        </form>
                    </article>
                    <!-- //Tab -->
                    <!--- //Content -->
                    {% endblock %}

                    {% block brs %}
                    {% endblock %}
                    <!--- //Content -->
                    <!-- //Post -->
                {% block foot %}
                </div>
                <!--- //Content MAIN -->

            </div>
        </div>



    </main>
    <!-- //Main -->


    <footer>
        <a href="#" class="back-top"><i class="fa fa-arrow-up"></i></a>
        <div id="prefooter">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-left">
                        <div id="links">
                            <h4>Liens Utiles</h4><br />
                            <ul class="row site-links">
                                <li><a href="/evenements"><i class="ion-minus"></i>Les événements</a></li>
                                <li><a href="http://localhost/linkar/Web/app_dev.php/adddem"><i class="ion-minus"></i>Voir les trajets</a></li>
                                <li><a href="/proposer_trajet"><i class="ion-minus"></i>Proposer un trajet</a></li>
                                <li><a href="/partenaires"><i class="ion-minus"></i>Les partenaires</a></li>
                                <li><a href="/temoignages"><i class="ion-minus"></i>Les témoignages</a></li>
                                <li><a href="/FAQ"><i class="ion-minus"></i>AIDE - Mode d'emploi</a></li>
                                <li><a href="/qui_sommes_nous"><i class="ion-minus"></i>Qui sommes-nous?</a></li>
                                <li><a href="/horaires_transports"><i class="ion-minus"></i>Horaires transports</a></li>
                                <li><a href="/utilisation_du_site"><i class="ion-minus"></i>Utilisation du site</a></li>
                                <li><a href="/mentions_legales"><i class="ion-minus"></i>Mentions légales</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div id="about">
                            <div class="logo">
                                <img src="{{ asset('assets/frontoffice/images/logo.png') }}" alt="">
                            </div>
                            <div class="coccif">
                                <h1><span>Cocci</span> <em>Driving</em></h1>
                                <h6><a href="/contact">Contactez-nous</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-right">
                        <div id="newsletter">
                            <div ><h4>Inscription</h4>
                                <span>L'inscription sur CocciDriving est entiérement gratuite et permet de vous inscrire é un covoiturage, de proposer un trajet et de gérer vos trajets et votre profil.</span>

                                <input value="" name="subscribe_email" id="subscribe_email" placeholder="Entrez votre email" type="text">
                                <button type="button" id="btn-subscribe-email" class="btn btn-default btn-lg" >
                                    <a href="/inscription"> <i class="fa fa-arrow-right"></i></a>
                                </button>
                            </div>
                            <h4>Connexion</h4>
                            <div class="subscribe_email">
                                <form action="/login-check" method="post">

                                    <input type="text" value="" name="_username" id="subscribe_email" placeholder="Entrez votre email">
                                    <input type="text" value="" name="_password" id="subscribe_email" placeholder="Entrez votre mot de passe">

                                    <button type="submit" id="btn-subscribe-email" class="btn btn-default btn-lg" name="_submit">
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <p>&copy; 2016 CocciDriving. Created by <a href="mailto:info@amoros-consulting.com">Amoros Consulting</a></p>
        </div>
    </footer>
</div>

<!-- Preloader -->
<div class="preloader">
    <div id="followingBallsG">
        <div id="followingBallsG_1" class="followingBallsG"></div>
        <div id="followingBallsG_2" class="followingBallsG"></div>
        <div id="followingBallsG_3" class="followingBallsG"></div>
        <div id="followingBallsG_4" class="followingBallsG"></div>
    </div>
</div>
<!-- //Preloader -->
<script src="{{ asset('assets/frontoffice/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/frontoffice/js/jquery.uniform.min.js') }}"></script>
<script src="{{ asset('assets/frontoffice/js/jquery.datetimepicker.js') }}"></script>
<script src="{{ asset('assets/frontoffice/js/jquery.slicknav.min.js') }}"></script>
{#<script src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>#}
<script src="{{ asset('assets/frontoffice/js/wow.min.js') }}"></script>
<script src="{{ asset('assets/frontoffice/js/search.js') }}"></script>
<script src="{{ asset('assets/frontoffice/js/scripts.js') }}"></script>
<script src="{{ asset('assets/frontoffice/js/infobox.js') }}"></script>
<script src="{{ asset('assets/frontoffice/js/jquery.slicknav.min.js') }}"></script>









<script type="text/javascript" language="javascript" src="{{ asset('assets/frontoffice/js/jquery-1.12.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/backoffice/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/owl.carousel.js') }}" ></script>
<script type="text/javascript" src="{{ asset('assets/frontoffice/boostrap/js/moment.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/frontoffice/boostrap/js/bootstrap-datepicker.js') }}"></script>

<script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/functions.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/jquery.elevatezoom.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/lightbox.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/room-1.js') }}" ></script>




<script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/home.js') }}"></script>
<script src="{{ asset('assets/frontoffice/js/slider.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $('.examples1 a').simpleLightboxVideo();


    //SLIDER bannieres

    $("#fos_user_registration_form_username").parent('div').css("display", "none");
    $('#fos_user_registration_form_email').focusout(function() {
        $("#fos_user_registration_form_username").val($(this).val());


    });

    //AFFICHAGE DU CHAMP AUTRE TRAJET REGULIER
    function showInputDepart()
    {
        var option=$( "#depart option:selected" ).text();

        if(option=="AUTRE"){

            $( "#autre_villeDepart" ).toggle("slow");
        }
        else{

            $( "#autre_villeDepart" ).hide();
        }
    }

    function showInputDestination()
    {
        var option=$( "#destination option:selected" ).text();

        if(option=="AUTRE"){

            $( "#autre_villeDestination" ).toggle("slow");
        }
        else{

            $( "#autre_villeDestination" ).hide();
        }
    }
    //AFFICHAGE DU CHAMP AUTRE TRAJET UNIQUE
    function showInputDepartU()
    {
        var option=$( "#depart option:selected" ).text();

        if(option=="AUTRE"){

            $( "#autre_villeDepartU" ).toggle("slow");
        }
        else{

            $( "#autre_villeDepartU" ).hide();
        }
    }

    function showInputDestinationU()
    {
        var option=$( "#destinationU option:selected" ).text();

        if(option=="AUTRE"){

            $( "#autre_villeDestinationU" ).toggle("slow");
        }
        else{

            $( "#autre_villeDestinationU" ).hide();
        }
    }

</script>







<!-- jQuery -->
<!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script>
    $(document).ready(function () {
        $('.single').hide().first().show();
        $('.categories li:first').addClass('active');

        $('.categories a').on('click', function (e) {
            e.preventDefault();
            $(this).closest('li').addClass('active').siblings().removeClass('active');
            $($(this).attr('href')).show().siblings('.single').hide();
        });

        var hash = $.trim( window.location.hash );
        if (hash) $('.categories a[href$="'+hash+'"]').trigger('click');
    });
</script>

<script type="text/javascript">
    jQuery(function($) {
        $('.white-box').on('click', function(e) {
            var $elem = $(this);

            if($elem.hasClass('white-box')) {
                $elem.removeClass('white-box').addClass('green-box');
                $elem.find('input').val(1);//METTRE LE JOUR SELECTIONNé é 1
            }
            else {
                $elem.removeClass('green-box').addClass('white-box');
                $elem.find('input').val(0);//METTRE LE JOUR SELECTIONNé é 0
            }
            e.preventDefault();
        });
    });
</script>
{% endblock %}
</body>
</html>
