<!DOCTYPE html>
<html lang="fr">

<!-- Mirrored from www.coccidriving.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Mar 2017 11:42:51 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="fr" />
    <meta name="author" content="Rosemont Agency, Amoros Consulting" />
    <meta name="description" content="Site gratuit d'annonces de covoiturage dans les Alpes-Maritimes, au Pays des Paillons" >
    <meta name="keywords" lang="fr" content="Covoiturage, co voiturage, petites annonces covoiturage, co-voiturage, service covoiturage, trajet professionnel, trajet régulier, recherche conducteurs, recherche passagers, déplacement journalier, déplacement occasionnel, transport alternatif, covoiturage régional, frais de transport, sports d'hiver, transports en commun, transport de personnes, auto, festivals, covoiturage Sospel, covoiturage Nice, covoiturage Peille, covoiturage Peillon, covoiturage Lucéram, covoiturage l'Escarène, covoiturage Drap, covoiturage Coaraze, covoiturage Cantaron, covoiturage Blausasc, covoiturage Berre les Alpes, covoiturage Bendejun" />

    <meta name="abstract" content="covoiturage au Pays des Paillons.">
    <meta name="robots" content="index,follow" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" type="image/png" href="{{ asset('assets/frontoffice/images/logo.png') }}" />
    <title>CocciDriving | Accueil</title>





    <link rel="stylesheet" href="{{ asset('assets/frontoffice/boostrap/css/bootstrap.css') }}" >
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/boostrap/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/owl-carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/frontoffice/includes/css/owl.transitions.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontoffice/includes/css/lightbox.min.css') }}">
    <!-- SLIDER DES ANNONCES PUB -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontoffice/css/slider.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>



    <!-- DATATABLE -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontoffice/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontoffice/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/frontoffice/css/dataTables.jqueryui.min.css') }}">


    <!-- ROSEMONT : GOOGLE ANALYTICS -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79531846-1', 'auto');
        ga('send', 'pageview');

    </script>



</head>
<body>
<div class="body-overlay"></div>
<div id="side-panel" class="dark">
    <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="fa fa-times"></i></a></div>
    <div class="side-panel-wrap">
        <ul class="navbar mm-panel">
            <li><a href="index.html">Home</a></li>
            <li><a href="trajets.html">Voir les trajets</a></li>
            <li><a href="login.html">Proposer un trajet</a></li>
            <li><a href="evenements.html">Les évènements</a></li>
            <li><a href="#">Horaires des transports</a></li>
            <li><a href="login.html">Mon Compte</a></li>
            <li><a href="login.html">Connexion</a></li>
        </ul>
    </div>
</div>
<div id="wrapper" class="clearfix">

    <div class="body-overlay"></div>
    <div id="side-panel" class="dark">
        <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="fa fa-times"></i></a></div>
        <div class="side-panel-wrap">
            <ul class="navbar mm-panel">
                <li><a href="index.html">Home</a></li>
                <li><a href="trajets.html">Voir les trajets</a></li>
                <li><a href="login.html">Proposer un trajet</a></li>
                <li><a href="evenements.html">Les évènements</a></li>
                <li><a href="horaires_transports.html">Horaires des transports</a></li>
                <li><a href="mon-compte.html">Mon Compte</a></li>
                <li><a href="login.html">Connexion</a></li>
            </ul>
        </div>
    </div>
    <div id="wrapper" class="clearfix">
        <div id="mobile-bar" class="visible-xs visible-sm">
            <a href="#" id="offcanvas-togglers" class="menu-trigger"><i class="fa fa-bars"></i></a>
            <h1 class="mob-title"><a href="index.html">Home</a></h1>
        </div>
        <header class="main-header">
            <div class="header-container">
                <div class="container2">
                    <div class="row">
                        <div class="header">

                            <div class="top-header">
                                <div class="top-nav-bar hidden-xs hidden-sm" id="">



                                    <div class="slideshow" id="slideshowBann">


                                        <div>

                                            <a href="https://autoecoledelapointe.wordpress.com/" target="_blank"> <img src="uploadsBackoffice/bannieres/autoecole-delapointeAN.gif"></a>

                                        </div>

                                    </div>


                                </div>
                            </div>


                            <div class="main-nav" style="background-color:#880000;">
                                <div class="nav-right  hidden-xs hidden-sm">
                                    <nav>
                                        <ul class="nav navbar-nav navbar-nav2" id="main-nav">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="trajets.html">Voir les trajets</a></li>
                                            <li><a href="login.html">Proposer un trajet</a></li>
                                            <li><a href="evenements.html">Les évènements</a></li>
                                            <li><a href="horaires_transports.html">Horaires des transports</a></li>
                                            <li><a href="login.html">Mon Compte</a></li>
                                            <li><a href="login.html">Connexion</a></li>
                                        </ul>
                                    </nav>
                                    <div id="btn-trigger">
                                        <a id="offcanvas-toggler" class="menu-trigger" href="#">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="slider-box parslide">
            <div class="custom-controls">
                <div class="shadow">
                    <div class="slider-helper">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">

                                <div class="item active">
                                    <img src="{{ asset('assets/frontoffice/images/Layer01.png') }}" alt="img Luxury room" class="layer">
                                    <div class="carousel-caption">
                                        <img src="{{ asset('assets/frontoffice/images/logo.png') }}" id="logo" alt="Theme logo">
                                        <p class="title-up fadeInDownBig hidden-xs">Le Covoiturage</p>
                                        <h1 class="titre"><span>Cocci</span> <em>Driving</em></h1>
                                        <p class="slide-subtitle hidden-xs">du Pays des Paillons</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="{{ asset('assets/frontoffice/images/Layer02.png') }}" alt="img Luxury room" class="layer">
                                    <div class="carousel-caption">
                                        <img src="{{ asset('assets/frontoffice/images/logo.png') }}" id="logo" alt="Theme logo">
                                        <p class="title-up fadeInDownBig hidden-xs">Le Covoiturage</p>
                                        <h1 class="titre"><span>Cocci</span> <em>Driving</em></h1>
                                        <p class="slide-subtitle hidden-xs">du Pays des Paillons</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="{{ asset('assets/frontoffice/images/Layer03.png') }}" alt="img Luxury room" class="layer">
                                    <div class="carousel-caption">
                                        <img src="{{ asset('assets/frontoffice/images/logo.png') }}" id="logo" alt="Theme logo">
                                        <p class="title-up fadeInDownBig hidden-xs">Le Covoiturage</p>
                                        <h1 class="titre"><span>Cocci</span> <em>Driving</em></h1>
                                        <p class="slide-subtitle hidden-xs">du Pays des Paillons</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="{{ asset('assets/frontoffice/images/Layer04.png') }}" alt="img Luxury room" class="layer">
                                    <div class="carousel-caption">
                                        <img src="{{ asset('assets/frontoffice/images/logo.png') }}" id="logo" alt="Theme logo">
                                        <p class="title-up fadeInDownBig hidden-xs">Le Covoiturage</p>
                                        <h1 class="titre"><span>Cocci</span> <em>Driving</em></h1>
                                        <p class="slide-subtitle hidden-xs">du Pays des Paillons</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="{{ asset('assets/frontoffice/images/Layer05.png') }}" alt="img Luxury room" class="layer">
                                    <div class="carousel-caption">
                                        <img src="{{ asset('assets/frontoffice/images/logo.png') }}"  id="logo" alt="Theme logo">
                                        <p class="title-up fadeInDownBig hidden-xs">Le Covoiturage</p>
                                        <h1 class="titre"><span>Cocci</span> <em>Driving</em></h1>
                                        <p class="slide-subtitle hidden-xs">du Pays des Paillons</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="check-room">

            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 check-room">
                    <form method="post" action="http://www.coccidriving.com/chercher_trajets" role="form" data-toggle="validator" >
                        <div class="col-xs-12 col-md-9 custom-form">
                            <h3>Rechercher un trajet</h3>
                            <div class="col-xs-12 col-md-3 adults group marg">
                                <div class="mylabel">
                                    <select class="ul-room-2" name="villeDepart" id="depart" onchange="showInputDepart()" required>
                                        <option value="">Départ</option>
                                        <option value="Bendejun">Bendejun</option>
                                        <option value="Berre-les-Alpes">Berre-les-Alpes</option>
                                        <option value="Blausasc">Blausasc</option>
                                        <option value="Cantaron">Cantaron</option>
                                        <option value="Châteauneuf-Villevieille">Châteauneuf-Villevieille</option>
                                        <option value="Coaraze">Coaraze</option>
                                        <option value="Drap">Drap</option>
                                        <option value="L'Escarène">L'Escarène</option>
                                        <option value="Lucéram">Lucéram</option>
                                        <option value="Nice">Nice</option>
                                        <option value="Peille">Peille</option>
                                        <option value="Peillon">Peillon</option>
                                        <option value="Touët-de-l'Escarène">Touët-de-l'Escarène</option>
                                        <option value="AUTRE" >AUTRE</option>
                                    </select>
                                    <input type='text'  class="" name="autre_villeDepart" id="autre_villeDepart" placeholder="Ville de départ" style="display:none"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-3 adults group marg">
                                <div class="mylabel">
                                    <select class="ul-room-2" name="villeDestination" id="destination"  onchange="showInputDestination()" required>
                                        <option value="">Arrivée</option>
                                        <option value="Bendejun">Bendejun</option>
                                        <option value="Berre-les-Alpes">Berre-les-Alpes</option>
                                        <option value="Blausasc">Blausasc</option>
                                        <option value="Cantaron">Cantaron</option>
                                        <option value="Châteauneuf-Villevieille">Châteauneuf-Villevieille</option>
                                        <option value="Coaraze">Coaraze</option>
                                        <option value="Drap">Drap</option>
                                        <option value="L'Escarène">L'Escarène</option>
                                        <option value="Lucéram">Lucéram</option>
                                        <option value="Nice">Nice</option>
                                        <option value="Peille">Peille</option>
                                        <option value="Peillon">Peillon</option>
                                        <option value="Touët-de-l'Escarène">Touët-de-l'Escarène</option>
                                        <option value="AUTRE">AUTRE</option>
                                    </select>
                                    <input type='text'  class="" name="autre_villeDestination" id="autre_villeDestination" placeholder="Ville de destination" style="display:none" />
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-3 departure group marg2">
                                <label for="for2" class="add-on"><i class="ion-android-calendar date2"></i></label>
                                <input type='text' id='for2' class="dateclick" name="dateDepart" placeholder="Date (facultatif)" />
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3  bookbtn2 group">
                                <input type="submit" class="moteur-rech-submit" value="Rechercher">
                            </div>

                        </div>
                    </form>

                    <div class="col-xs-12 col-sm-12 col-md-3  bookbtn group">
                        <img src="{{ asset('assets/frontoffice/images/auto-proposer-trajet.png') }}"><br>
                        <a href="login.html" class="btn-check"><span>Proposer</span> un trajet</a>
                    </div>

                </div>
            </div>
        </section>

        <main>
            <section id="why_choose_us">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <h3><font size="5">Partez tranquille avec Cocci<em>Driving</em></font><img src="{{ asset('assets/frontoffice/images/boule.png') }}" class="whyimg" width="95" height="97"></h3>

                            <div class="row">
                                <div class="post col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="img_zoom">
                                        <img src="{{ asset('assets/frontoffice/images/evenements.png') }}" class="wow fadeInLeft img-responsive" data-wow-duration="2s" alt="Les évènements du Pays des Paillons">
                                    </div>
                                    <div class="text-col">
                                        <h4>Les évènements de la région</h4>
                                        <p>En cliquant ici, retrouvez les événements qui ont lieu sur le Pays des Paillons, (Festins, Concerts, Expositions ….) mais surtout covoiturez pour vous y rendre !</p>
                                        <div class="btn-readmore">
                                            <i class="fa fa-caret-right"></i>
                                            <a href="evenements.html"class="readmore">Voir plus</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="post col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="img_zoom">
                                        <img src="{{ asset('assets/frontoffice/images/partenaires.png') }}" class="wow fadeInRight img-responsive" data-wow-duration="2s" alt="Partenaires de CocciDriving">
                                    </div>
                                    <div class="text-col">
                                        <h4>Les Partenaires Cocci<em>Driving</em></h4>
                                        <p>Cocci<em>Driving</em>  s’entourent de partenaires de choix pour vous faire voyager avec plus de flexibilité dans une démarche d’éco mobilité.</p>
                                        <div class="btn-readmore">
                                            <i class="fa fa-caret-right"></i>
                                            <a href="partenaires.html" class="readmore">Voir plus</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 no-right" id="upcoming" style="padding:0 40px;">
                            <!-- <img src="/assets/frontoffice/images/upcoming.png" alt="Upcoming Events" class="img-responsive"> -->
                            <figure id="contact-room" style="padding-top: 20px;">
                                <div id="contact">
                                    <a href="#" title=""><img src="{{ asset('assets/frontoffice/images/upcoming.png') }}" alt="img upcoming" class="img-responsive pr-img"></a>
                                </div>
                                <figcaption class="sub-upcoming">

                                    <h3><span style="font-size:20px;">Evènements à venir</span></h3>
                                    <div id="owl-example" class="owl-carousel">
                                        <div class="upcoming-ul">
                                            <div class="button-ok btn-more">
                                                <a href="evenements.html"><span style="font-size: 13px;">Tous les évènements</span></a>
                                            </div>
                                        </div>

                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>

            <section id="service">
                <div class="container ourservice img-border">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12"></div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-content">
                            <h3>Le Covoiturage</h3>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <a href="qui_sommes_nous.html"><i class="col-xs-3 col-sm-3 col-md-3 ion ion-model-s wow zoomIn box-dotted"></i></a>
                                    <div class="border-dotted"></div>
                                    <div class="col-xs-9 col-sm-9 col-md-9 service1">
                                        <h4>Qui Sommes-nous ?</h4>
                                        <span class="pi">CocciDriving est le site de covoiturage dédié aux résidents du Pays des Paillons.</span>
                                        <p>CocciDriving est une association crée dans le but de développer le covoiturage sur notre vallée et d’offrir une alternative supplémentaire à vos déplacements quotidiens.</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <a href="temoignages.html"><i class="col-xs-3 col-sm-3 col-md-3 ion-leaf wow zoomIn box-dotted"></i></a>
                                    <div class="border-dotted"></div>
                                    <div class="col-xs-9 col-sm-9 col-md-9 service1">
                                        <h4>Les témoignages</h4>
                                        <span class="pi">Nos covoitureurs témoignent et racontent leurs expériences, leurs rencontres, les services mutuels, ...</span>
                                        <p>Partagez avec nous vos expériences de covoiturage Cocci<em>Driving</em> ; vos expériences et vos témoignages seront publiés.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 no-right" id="upcoming">
                            <!-- <img src="/assets/frontoffice/images/layer41.png" alt="Upcoming Events" class="img-responsive"> -->
                            <figure id="contact-room2">
                                <div >
                                    <div class="top-nav-bar hidden-xs hidden-sm" id="slideshow">

                                        <div id="s3slider">
                                            <ul id="s3sliderContent">


                                                <div>

                                                    <a href="http://www.casa-immo.fr/" target="_blank"> <img src="uploadsBackoffice/skyscrappers/CASA-IMMO.gif"></a>

                                                </div>



                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </figure>
                        </div>

                    </div>
                </div>
            </section>

        </main>
        <footer>
            <a href="#" class="back-top"><i class="fa fa-arrow-up"></i></a>
            <div id="prefooter">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-left">
                            <div id="links">
                                <h4>Liens Utiles</h4><br />
                                <ul class="row site-links">
                                    <li><a href="evenements.html"><i class="ion-minus"></i>Les évènements</a></li>
                                    <li><a href="trajets.html"><i class="ion-minus"></i>Voir les trajets</a></li>
                                    <li><a href="login.html"><i class="ion-minus"></i>Proposer un trajet</a></li>
                                    <li><a href="partenaires.html"><i class="ion-minus"></i>Les partenaires</a></li>
                                    <li><a href="temoignages.html"><i class="ion-minus"></i>Les témoignages</a></li>
                                    <li><a href="FAQ.html"><i class="ion-minus"></i>AIDE - Mode d'emploi</a></li>
                                    <li><a href="qui_sommes_nous.html"><i class="ion-minus"></i>Qui sommes-nous?</a></li>
                                    <li><a href="horaires_transports.html"><i class="ion-minus"></i>Horaires transports</a></li>
                                    <li><a href="utilisation_du_site.html"><i class="ion-minus"></i>Utilisation du site</a></li>
                                    <li><a href="mentions_legales.html"><i class="ion-minus"></i>Mentions légales</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div id="about">
                                <div class="logo">
                                    <img src="{{ asset('assets/frontoffice/images/logo.png') }}" alt="">
                                </div>
                                <div class="coccif">
                                    <h1><span>Cocci</span> <em>Driving</em></h1>
                                    <h6><a href="contact.html">Contactez-nous</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-right">
                            <div id="newsletter">
                                <div ><h4>Inscription</h4>
                                    <span>L'inscription sur CocciDriving est entièrement gratuite et permet de vous inscrire à un covoiturage, de proposer un trajet et de gérer vos trajets et votre profil.</span>

                                    <input value="" name="subscribe_email" id="subscribe_email" placeholder="Entrez votre email" type="text">
                                    <button type="button" id="btn-subscribe-email" class="btn btn-default btn-lg" >
                                        <a href="inscription.html"> <i class="fa fa-arrow-right"></i></a>
                                    </button>
                                </div>
                                <h4>Connexion</h4>
                                <div class="subscribe_email">
                                    <form action="http://www.coccidriving.com/login-check" method="post">

                                        <input type="text" value="" name="_username" id="subscribe_email" placeholder="Entrez votre email">
                                        <input type="text" value="" name="_password" id="subscribe_email" placeholder="Entrez votre mot de passe">

                                        <button type="submit" id="btn-subscribe-email" class="btn btn-default btn-lg" name="_submit">
                                            <i class="fa fa-arrow-right"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <p>&copy; 2016 CocciDriving. Created by <a href="mailto:info@amoros-consulting.com">Amoros Consulting</a></p>
            </div>
        </footer>
    </div>





    <script type="text/javascript" language="javascript" src="../code.jquery.com/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/frontoffice/boostrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/owl.carousel.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('assets/frontoffice/boostrap/js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontoffice/boostrap/js/bootstrap-datepicker.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/functions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/jquery.elevatezoom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/lightbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/room-1.js') }}" ></script>




    <script type="text/javascript" src="{{ asset('assets/frontoffice/includes/js/home.js') }}"></script>
    <script src="{{ asset('assets/frontoffice/js/slider.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.examples1 a').simpleLightboxVideo();


        //SLIDER bannieres

        $("#fos_user_registration_form_username").parent('div').css("display", "none");
        $('#fos_user_registration_form_email').focusout(function() {
            $("#fos_user_registration_form_username").val($(this).val());


        });

        //AFFICHAGE DU CHAMP AUTRE TRAJET REGULIER
        function showInputDepart()
        {
            var option=$( "#depart option:selected" ).text();

            if(option=="AUTRE"){

                $( "#autre_villeDepart" ).toggle("slow");
            }
            else{

                $( "#autre_villeDepart" ).hide();
            }
        }

        function showInputDestination()
        {
            var option=$( "#destination option:selected" ).text();

            if(option=="AUTRE"){

                $( "#autre_villeDestination" ).toggle("slow");
            }
            else{

                $( "#autre_villeDestination" ).hide();
            }
        }
        //AFFICHAGE DU CHAMP AUTRE TRAJET UNIQUE
        function showInputDepartU()
        {
            var option=$( "#depart option:selected" ).text();

            if(option=="AUTRE"){

                $( "#autre_villeDepartU" ).toggle("slow");
            }
            else{

                $( "#autre_villeDepartU" ).hide();
            }
        }

        function showInputDestinationU()
        {
            var option=$( "#destinationU option:selected" ).text();

            if(option=="AUTRE"){

                $( "#autre_villeDestinationU" ).toggle("slow");
            }
            else{

                $( "#autre_villeDestinationU" ).hide();
            }
        }

    </script>




</body>

<!-- Mirrored from www.coccidriving.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Mar 2017 11:44:42 GMT -->
</html>