{% extends "UserBundle::layout.html.twig" %}
    {% block titre %}
<title>LinKar | Inscription</title>
    {% endblock %}
{% block main %}
<br>



        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_errors(form) }}

    <div style="border: solid;width: 40%;border-color: #FA8072" >
        <br>
    <h1>Créer un nouveau compte</h1>
    <h6 style="color: orangered;">(Seulement les champs avec * sont requis)</h6>
    <br>
    <div class="box">
        <fieldset class="step">
            <p >{{  form_label(form.email)}} {{ form_widget(form.email, {'attr': {'placeholder': 'Votre email','required' : 'true'}}) }}</p>
            <img src="{{ asset('assets/header/images/separate.jpg') }}"><p><br></p>
            <p >{{  form_label(form.username)}}{{ form_widget(form.username, {'attr': {'placeholder': 'Votre Login','required' : 'true'}}) }}</p>
            <img src="{{ asset('assets/header/images/separate.jpg') }}"><p><br></p>
            <p >{{  form_label(form.plainPassword.first)}}{{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Votre mot de passe','required' : 'true'}}) }}</p>
            <img src="{{ asset('assets/header/images/separate.jpg') }}"><p><br></p>
            <p >{{  form_label(form.plainPassword.second)}}{{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Répéter mot de passe','required' : 'true'}}) }}</p>
       <br>
        </fieldset>
    </div></div>
        <br><br>
    <div style="border: solid;width: 40%;border-color: #FA8072" >
        <br>
    <h1>Détails personnels</h1>
        <br>
    <div class="box">

        <fieldset class="step">

            <p >{{  form_label(form.lastName)}}{{ form_widget(form.lastName, {'attr': {'placeholder': 'Votre nom','required' : 'true'}}) }}</p>
            <img src="{{ asset('assets/header/images/separate.jpg') }}"><p><br></p>
            <p >{{  form_label(form.firstName)}}{{ form_widget(form.firstName,{'attr': {'placeholder': 'Votre prénom','required' : 'true'}}) }}</p>
            <p >{{  form_label(form.gender)}}{{ form_widget(form.gender) }}</p>
            <img src="{{ asset('assets/header/images/separate.jpg') }}"><p><br></p>
            <p >{{  form_label(form.phoneNumber)}}{{ form_widget(form.phoneNumber, {'attr': {'placeholder': 'Votre numéro de téléphone'}}) }}</p>
            <img src="{{ asset('assets/header/images/separate.jpg') }}">
            <p><br></p>
            <p >{{  form_label(form.birth)}}{{ form_widget(form.birth, {'attr': {'placeholder': 'Votre date de naissance'}}) }}</p>
        </fieldset>
    </div>
            <br><br>
    </div>
        <div>
            <br><br>
            <input style="width: 30%"type="submit" value="S'inscrire" class="btn btn-success btn-lg radius" />
            <br><br>
        </div>

        </div>
        {{ form_end(form) }}
        <br><br>
    </div>
    {% endblock %}