{% extends "@User/layout.html.twig" %}
{% block main %}
    <link href="{{ asset('assets/js/bootstrap.min_3.3.0.css') }}" rel="stylesheet">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked admin-menu">


                    <li     ><a   href="{{ path('personnelInfo') }}" ><i class="fa fa-list-alt fa-fw"></i>information Personnel</a></li>
                    <li  class="active"  ><a  href="{{ path('changePassword') }}" data-target-id="Activity"><i class="fa fa-file-o fa-fw"></i>changer mot de passe </a></li>
                    <li   ><a  href="{{ path('verificationCompte') }}"  data-target-id="Devices"><i class="fa fa-bar-chart-o fa-fw"></i>verifier Compte</a></li>


                </ul>
            </div>
            <div class="col-md-9 well admin-content text-center  " id="home">
                {% if success is defined %}
                    <h2>mot de passe changer avec succes !!!!</h2>
                {% else %}
                    <form class="form-horizontal" method="post" action="{{ path('changePassword') }}">
                        <fieldset>

                            <!-- Form Name -->
                            <legend>changer mot de passe</legend>

                            <!-- Password input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="passwordinput">Mot de passe actuel</label>
                                <div class="col-md-4">
                                    <input id="passwordinput" name="passwordinput" type="password" placeholder="nouveau mot de passe " class="form-control input-md">

                                </div>
                            </div>

                            {% if validatePassword is defined %}
                                <div class="alert alert-danger">
                                    mot de passe incorecte
                                </div>
                            {% endif %}

                            <!-- Password input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="newpasswordinput">nouveau mot de passe </label>
                                <div class="col-md-4">
                                    <input id="newpasswordinput" name="newpasswordinput" type="password" placeholder="placeholder" class="form-control input-md">

                                </div>
                            </div>



                            <!-- Password input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="verifypasswordinput">verifier mot de passe</label>
                                <div class="col-md-4">
                                    <input id="verifypasswordinput" name="verifypasswordinput" type="password" placeholder="placeholder" class="form-control input-md">

                                </div>
                            </div>

                            {% if validateNewPassword is defined %}
                                <div class="alert alert-danger">
                                    bala bla
                                </div>
                            {% endif %}

                        </fieldset>
                        <input type="submit" class="btn btn-info" value="Valider">
                    </form>

                {% endif %}

            </div>


        </div>
    </div>



{% endblock %}
