{% extends "@User/layout.html.twig" %}
{% block titre %}
    <title>LinKar | Changer mot de passe</title>
{% endblock %}
{% block main %}
    <link href="{{ asset('assets/css/bootstrap-iso.css') }}" rel="stylesheet"  >
    <div class="bootstrap-iso">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked admin-menu">
                    <li   ><a  href="{{ path('Profile') }}"  data-target-id="Devices"><i class="glyphicon glyphicon-user"></i>&nbsp; Mon profil</a></li>
                    <li   ><a  href="{{ path('EditProfile') }}" data-target-id="Devices" ><i class="glyphicon glyphicon-pencil"></i>&nbsp; Modifier mes détails personnels</a></li>
                    <li   ><a  href="{{ path('viewVoiture') }}"  data-target-id="Devices"><i class="glyphicon glyphicon-road"></i>&nbsp; Mes voitures</a></li>
                    <li   ><a  href="{{ path('Afficher_MesAnnonce') }}"  data-target-id="Devices"><i class="glyphicon glyphicon-th-list"></i>&nbsp; Mes annonces</a></li>
                    <li   ><a  href="{{ path('Afficher_MesDemandes') }}"  data-target-id="Devices"><i class="glyphicon glyphicon-th-list"></i>&nbsp; Mes demandes</a></li>
                    <li   ><a  href="{{ path('Afficher_MesParticipations') }}"  data-target-id="Devices"><i class="glyphicon glyphicon-list-alt"></i>&nbsp; Mes covoiturages</a></li>
                    <li   ><a  href="{{ path('Afficher_MesReponses') }}"  data-target-id="Devices"><i class="glyphicon glyphicon-align-justify"></i>&nbsp; Mes réponses</a></li>
                    <li   ><a  href="{{ path('afficherReclamation') }}"  data-target-id="Devices"><i class="glyphicon glyphicon-print"></i>&nbsp; Mes réclamations</a></li>
                    <li  class="active" ><a  href="{{ path('changePassword') }}" data-target-id="Activity"><i class="glyphicon glyphicon-pencil"></i>&nbsp; Changer mot de passe </a></li>
                    <li   ><a  href="{{ path('verificationCompte') }}"  data-target-id="Devices"><i class="glyphicon glyphicon-ok"></i>&nbsp; Vérifier mon compte</a></li>
                    <li   ><a  href="{{ path('sendmail') }}"  data-target-id="Devices"><i class="glyphicon glyphicon-ok"></i>&nbsp; Valider mon adresse e-mail</a></li>
                </ul>
            </div>
                <br>
            <div class="col-md-9 well admin-content text-center  " id="home">
                {% if success is defined %}
                    <h2>Mot de passe changé ☺</h2>
                {% else %}
                    <form class="form-horizontal" method="post" action="{{ path('changePassword') }}">
                        <fieldset>

                            <!-- Form Name -->
                            <h1>Changer mot de passe</h1>
<br>
                            <!-- Password input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="passwordinput">Mot de passe actuel:</label>
                                <div class="col-md-4">
                                    <input id="passwordinput" name="passwordinput" type="password" placeholder="Mot de passe actuel" class="form-control input-md">

                                </div>
                            </div>

                            {% if validatePassword is defined %}
                                <div class="alert alert-danger">
                                    Mot de passe incorecte. Veuillez réessayer.
                                </div>
                            {% endif %}

                            <!-- Password input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="newpasswordinput">Nouveau mot de passe: </label>
                                <div class="col-md-4">
                                    <input id="newpasswordinput" name="newpasswordinput" type="password" placeholder="Nouveau mot de passe " class="form-control input-md">

                                </div>
                            </div>

                            <!-- Password input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="verifypasswordinput">Vérifier nouveau mot de passe:</label>
                                <div class="col-md-4">
                                    <input id="verifypasswordinput" name="verifypasswordinput" type="password" placeholder="Vérifier nouveau mot de passe" class="form-control input-md">

                                </div>
                            </div>

                        </fieldset>
                        <input type="submit" class="btn btn-info" value="Valider" width="50%">
                    </form>

                {% endif %}

            </div>


        </div>
    </div>
</div>


{% endblock %}
