<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Condensed table example - Bootsnipp.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        .media-photo {
            width: 35px;
        }
    </style>


    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"> </script>
    <script>
        function showConfirmRoleDialog () {
            bootbox.confirm({
                message: "This is a confirm with custom button text and color! Do you like it?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result == true){

                        test('span'+id);
                    }
                }
            });
        }
        function showConfirmBlockDialog (id) {
            bootbox.confirm({
                message: "voulez vous vraiment blocker cet utilisateur",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result == true){

                        document.getElementById('span'+id).innerHTML= ' <span   class="label label-danger">Blocked</span>';
                        document.getElementById('btn'+id).innerHTML='    <a id="'+id+'" onclick="showConfirmActiveDialog(this.id)" class="btn btn-success btn-xs" href="#"><span class="glyphicon  "></span> activer</a>';

                    }
                }
            });
        }

        function showConfirmActiveDialog (id) {
            bootbox.confirm({
                message: "This is a confirm with custom button text and color! Do you like it?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result == true){
                        document.getElementById('span'+id).innerHTML= '<span  class="label label-success">Active</span>';

                        document.getElementById('btn'+id).innerHTML='    <a id="'+id+'" onclick="showConfirmBlockDialog(this.id)" class="btn btn-warning btn-xs" href="#"><span class="glyphicon  "></span> blocker</a>';

                    }
                }
            });
        }
        function showDialog(id) {
            bootbox.confirm({
                message: "This is a confirm with custom button text and color! Do you like it?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                  if(result == true){

                     test('span'+id);
                  }
                }
            });





        }

        function showConfirmDeleteDialog (id) {
            bootbox.confirm({
                message: "This is a confirm with custom button text and color! Do you like it?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result == true){
                         document.getElementById("users").deleteRow(id);



                    }
                }
            });
        }
        function blockUser(id) {
            x = new XMLHttpRequest();
            x.onreadystatechange=function () {
                if ((x.readyState==4) && (x.status==200)){
                 //   $(document).find('#content').value =x.responseText;
                    // alert(x.responseText);
                }
            }
            url="{{path('editUser')}}";



            //alert(url);
            x.open('GET',url,true);
            x.send();

        }
        function test(id) {
            alert(id);
            document.getElementById(id).innerHTML= '<span   class="label label-success">Active</span>';
        }
    </script>
</head>
<body>

            <table class="table  table-responsive table-striped " id="users" >
                <thead>
                <tr>
                    <th>Username</th>
                    <th>genre</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>

                <tr>

                    {% for k in m %}


                        <td>
                            <img src="{{ k.urlPicture }}" class="media-photo"> 	{{ k.firstName }} {{ k.lastName }}
                        </td>

                        <td>{{ k.gender }}</td>
                        <td>{{ k.email }}</td>
                        {% if k.role == true %}
                            <td>admin</td>

                        {% endif %}
                        {% if k.role  == false %}
                            <td>membre</td>

                        {% endif %}

                        {% if k.statut  == true %}
                            <td id="span{{ k.id }}" > <span   class="label label-success">Active</span></td>

                        {% endif %}

                        {% if k.statut  == false %}
                            <td id="span{{ k.id }}" ><span class="label label-danger">Blocked</span></td>

                        {% endif %}

                        <td class="text-center">
                            <span id="btn{{ k.id }}">
                            {% if k.statut  == true %}
                                <a id="{{ k.id }}" onclick="showConfirmBlockDialog(this.id)" class=' btn btn-warning btn-xs' ><span class=" glyphicons   "></span> blocker</a>

                            {% else %}
                                <a id="{{ k.id }}" onclick="showConfirmActiveDialog(this.id)" class='btn btn-success btn-xs' ><span class="glyphicon  "></span> activer</a>
                    {% endif %}
                            </span>

                            <a href="#"  onclick="showConfirmDeleteDialog($(this).closest('td').parent()[0].sectionRowIndex+1)"  class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> supprimer</a>

                        </td>




                </tr>
                {% endfor %}
                </tbody>
            </table>

<script type="text/javascript">

</script>
</body>
</html>
