{% extends "@Admin/layout.html.twig" %}
{% block main %}
    {% include '@Notification/Notification/showNotification.html.twig' %}
    {# comment {% include '@Notification/Notification/showNotification.html.twig' %} #}
    <style type="text/css">
        .container2{
            margin-top:30px;
        }

        .filter-col{
            padding-left:10px;
            padding-right:10px;
        }

        .media-photo {
            width: 35px;
        }

        #custom-search-input{
            padding: 3px;
            border: solid 1px #E4E4E4;
            border-radius: 6px;
            background-color: #fff;
        }

        #custom-search-input input{
            border: 0;
            box-shadow: none;
        }

        #custom-search-input button{
            margin: 2px 0 0 0;
            background: none;
            box-shadow: none;
            border: 0;
            color: #666666;
            padding: 0 8px 0 10px;
            border-left: solid 1px #ccc;
        }

        #custom-search-input button:hover{
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

        #custom-search-input .glyphicon-search{
            font-size: 23px;
        }
    </style>


    <script src="{{ asset('assets/js/bootbox.min.js') }}"> </script>
    <script src=" https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"> </script>
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ asset('assets/js/moment.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css') }}" />

    <script>

        function showConfirmRoleDialog () {
            bootbox.confirm({
                message: "This is a confirm with custom button text and color! Do you like it?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result == true){

                        test('span'+id);
                    }
                }
            });
        }
        function showConfirmBlockDialog (id) {
            bootbox.confirm({
                message: "voulez vous vraiment blocker cet utilisateur",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result == true){

                        document.getElementById('span'+id).innerHTML= ' <span   class="label label-danger">Blocked</span>';
                        document.getElementById('btn'+id).innerHTML='    <a id="'+id+'" onclick="showConfirmActiveDialog(this.id)" class="btn btn-success btn-xs" href="#"><span class="glyphicon  "></span> activer</a>';
                        changeStatus(id,'blocked');
                    }
                }
            });
        }

        function showConfirmActiveDialog (id) {
            bootbox.confirm({
                message: "This is a confirm with custom button text and color! Do you like it?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result == true){
                        document.getElementById('span'+id).innerHTML= '<span  class="label label-success">Active</span>';

                        document.getElementById('btn'+id).innerHTML='    <a id="'+id+'" onclick="showConfirmBlockDialog(this.id)" class="btn btn-warning btn-xs" href="#"><span class="glyphicon  "></span> blocker</a>';
changeStatus(id,'active');
                    }
                }
            });
        }
        function showDialog(id) {
            bootbox.confirm({
                message: "This is a confirm with custom button text and color! Do you like it?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                  if(result == true){

                     test('span'+id);
                  }
                }
            });





        }

        function showConfirmDeleteDialog (id) {
            bootbox.confirm({
                message: "voulez vous vraiment supprimer cet utilisateur ?",
                buttons: {
                    confirm: {
                        label: 'oui',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'non',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result == true){
                         document.getElementById("users").deleteRow(id);



                    }
                }
            });
        }
        function blockUser(id) {
            x = new XMLHttpRequest();
            x.onreadystatechange=function () {
                if ((x.readyState==4) && (x.status==200)){
                 //   $(document).find('#content').value =x.responseText;
                    // alert(x.responseText);
                }
            }
            url="{{path('editUser')}}";



            //alert(url);
            x.open('GET',url,true);
            x.send();

        }
        function test(id) {
            alert(id);
            document.getElementById(id).innerHTML= '<span   class="label label-success">Active</span>';
        }

        function showConfirmChangeRoleDialog (id) {
            bootbox.confirm({
                message: "voulez vous vraiment changer le role de cet utilisateur ?",
                buttons: {
                    confirm: {
                        label: 'oui',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'non',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result == true){

                       changeRole(id);

                    }
                    else
                    {
                        index = document.getElementById(id).selectedIndex;
                            if(index == 0){
                                document.getElementById(id).selectedIndex=1;
                            }
                            else {
                                document.getElementById(id).selectedIndex=0;
                            }
                    }
                }
            });
        }
        function  changeRole(id) {

            role=document.getElementById(id).value ;



            x = new XMLHttpRequest();
            x.onreadystatechange=function () {
              //  alert(x.responseText);
                if ((x.readyState==4) && (x.status==200)){

                }
            }
            url="{{path('editUser')}}?id="+ id.slice(6)+"&role="+ role.toLowerCase();



            alert(url);
            x.open('GET',url,true);
            x.send();
        }

        function  changeStatus(id,status) {




            x = new XMLHttpRequest();
            x.onreadystatechange=function () {
                if ((x.readyState==4) && (x.status==200)){
                    // document.getElementById('divUsers').innerHTML=x.responseText;
                }
            }
            url="{{path('editUser')}}?id="+id+"&status="+status;



           // alert(url);
            x.open('GET',url,true);
            x.send();
        }

        function tdd(){
            name=document.getElementById('text').value ;
            type=document.getElementById('selectType').value ;
            dateDebut=document.getElementById('inputDateDebut').value ;
            dateFin=document.getElementById('inputDateFin').value ;
            order=document.getElementById('selectOrder').value ;
           inputBlock=document.getElementById('inputBlock').checked ;
            inputActive=document.getElementById('inputActive').checked ;
            status='all';
            if(inputActive ==true && inputBlock ==false){
                status='active';
            }

            if(inputActive ==false && inputBlock ==true){
                status='blocked';
            }
            dateUrl='';
            if(dateDebut!=''){
                dateUrl='&dateDebut='+encodeURIComponent(dateDebut);
            }


           // alert(name + type + dateDebut +dateFin+ inputActive+inputBlock+order);

            url="{{path('rechercheUtilisateur')}}?name="+encodeURIComponent(name)+'&type='+type+'&order='+order
            +'&status='+status+'&dateFin='+encodeURIComponent(dateFin)+dateUrl;
            alert(url);

        }
        function rechercher() {

            name=document.getElementById('text').value ;
            type=document.getElementById('selectType').value ;
            dateDebut=document.getElementById('inputDateDebut').value ;
            dateFin=document.getElementById('inputDateFin').value ;
            order=document.getElementById('selectOrder').value ;
            inputBlock=document.getElementById('inputBlock').checked ;
            inputActive=document.getElementById('inputActive').checked ;
            status='all';
            if(inputActive ==true && inputBlock ==false){
                status='active';
            }

            if(inputActive ==false && inputBlock ==true){
                status='blocked';
            }
            dateUrl='';
            if(dateDebut!=''){
                dateUrl='&dateDebut='+encodeURIComponent(dateDebut);
            }



            x = new XMLHttpRequest();
            x.onreadystatechange=function () {
                if ((x.readyState==4) && (x.status==200)){
                    document.getElementById('divUsers').innerHTML=x.responseText;
                }
            }
            url="{{path('rechercheUtilisateur')}}?name="+encodeURIComponent(name)+'&type='+type+'&order='+order
                +'&status='+status+'&dateFin='+encodeURIComponent(dateFin)+dateUrl;



            alert(url);
            x.open('GET',url,true);
            x.send();
        }
    </script>

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" id="text" data-provide="typeahead"  class="form-control input-lg" placeholder="Rechercher des utilisateurs" />

                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" onclick="rechercher()" >
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
               <script>
                   jQuery(document).ready(function() {
                       name=document.getElementById('text').value ;
                       type=document.getElementById('selectType').value ;
                       dateDebut=document.getElementById('inputDateDebut').value ;
                       dateFin=document.getElementById('inputDateFin').value ;
                       order=document.getElementById('selectOrder').value ;
                       inputBlock=document.getElementById('inputBlock').checked ;
                       inputActive=document.getElementById('inputActive').checked ;
                       status='all';
                       if(inputActive ==true && inputBlock ==false){
                           status='active';
                       }

                       if(inputActive ==false && inputBlock ==true){
                           status='blocked';
                       }
                       dateUrl='';
                       if(dateDebut!=''){
                           dateUrl='&dateDebut='+encodeURIComponent(dateDebut);
                       }


                       // alert(name + type + dateDebut +dateFin+ inputActive+inputBlock+order);

                       url="{{path('autoComplete')}}?name="+encodeURIComponent(name)+'&type='+type+'&order='+order
                           +'&status='+status+'&dateFin='+encodeURIComponent(dateFin)+dateUrl;

                       $('#text').typeahead({
                           name: 'user-search',
                           remote: url,
                           minLength: 1, // send AJAX request only after user type in at least 3 characters
                           limit: 10 // limit to show only 10 results
                       });
                   });
               </script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container2">
    <div class="row">
        <div id="filter-panel" class="collapse filter-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Rechercher par:</label>
                            <select  id="selectType" class="form-control">
                                <option selected="selected" value="1">Nom complet </option>
                                <option value="2">Nom</option>
                                <option value="3">Prenom</option>

                            </select>
                        </div> <!-- form group [rows] -->
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input  id="inputDateDebut" type='text' class="form-control" />
                                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input id="inputDateFin" type='text' class="form-control" value="{{ "now"|date("m/d/Y") }}" />
                                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker6').datetimepicker({format: 'DD/MM/YYYY'});
                                $('#datetimepicker7').datetimepicker({
                                    useCurrent: false //Important! See issue #1075
                                    ,format: 'DD/MM/YYYY'
                                });
                                $("#datetimepicker6").on("dp.change", function (e) {
                                    $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                                });
                                $("#datetimepicker7").on("dp.change", function (e) {
                                    $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                                });
                            });
                        </script>
                        <!-- form group [search] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-orderby">Ordre par:</label>
                            <select id="selectOrder" class="form-control">
                                <option value="asc" selected="selected"> Ascendant</option>
                                <option value="desc"> Descendant</option>

                            </select>
                        </div> <!-- form group [order by] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Status :</label>
                            <div class="checkbox" style="margin-left:10px; margin-right:10px;">
                                <label><input id="inputBlock" checked  type="checkbox">Bloqué</label>
                            </div>
                            <div class="checkbox" style="margin-left:10px; margin-right:10px;">
                                <label><input  id="inputActive" checked type="checkbox">Activé</label>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <button style="margin-left: 50px" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
            <span class="glyphicon glyphicon-cog"></span> Recherche avancé
        </button>
    </div>
</div>
<div id="divUsers">

            <table class="table  table-responsive table-striped " id="users" >
                <thead>
                <tr>
                    <th>Username</th>
                    <th>genre</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>

                <tr>

                    {% for k in m %}


                        <td>
                            <img src="{{ k.urlPicture }}" class="media-photo"> 	{{ k.firstName }} {{ k.lastName }}
                        </td>

                        <td>{{ k.gender }}</td>
                        <td>{{ k.email }}</td>

                            <td>
                            <select class="form-control"   id="select{{ k.id }}"  onchange="showConfirmChangeRoleDialog(this.id)"  >
                                <option  {% if k.role == true%}   selected="selected"      {% endif %}>Admin</option>
                                <option   {% if k.role == false%}   selected="selected"      {% endif %}   >Membre</option   >

                            </select>
                            </td>




                        {% if k.statut  == true %}
                            <td id="span{{ k.id }}" > <span   class="label label-success">Active</span></td>

                        {% endif %}

                        {% if k.statut  == false %}
                            <td id="span{{ k.id }}" ><span class="label label-danger">Blocked</span></td>

                        {% endif %}

                        <td class="text-center">
                            <span id="btn{{ k.id }}">
                            {% if k.statut  == true %}
                                <a id="{{ k.id }}" onclick="showConfirmBlockDialog(this.id)" class=' btn btn-warning btn-xs' ><span class=" glyphicons   "></span> blocker</a>

                            {% else %}
                                <a id="{{ k.id }}" onclick="showConfirmActiveDialog(this.id)" class='btn btn-success btn-xs' ><span class="glyphicon  "></span> activer</a>
                    {% endif %}
                            </span>

                            <a href="#"  onclick="showConfirmDeleteDialog($(this).closest('td').parent()[0].sectionRowIndex+1)"  class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> supprimer</a>

                        </td>




                </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
{% endblock %}
