
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Condensed table example - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
        .media-photo {
	width: 35px;
}
    </style>
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/bootbox.min.js') }}"> </script>


    <script>
        var dialog

        function show(id) {
            var image=document.getElementById('img'+id).src;

            var name= document.getElementById('name'+id).innerHTML
            var cin=document.getElementById('cin'+id).value;
             dialog = bootbox.dialog({

                 message:   ' <img src="'+image+'" class="media-photo"> '+name+'	' +
                    '<img src="'+cin+'"> </img>' +
                ' <div style=" text-align: right"" ><a href="#"  onclick="verify('+id+',\'on\')"  class="btn btn-success btn-xs"><span class="glyphicon glyphicon-remove"></span> approuver </a> &nbsp' +
                '<a href="#"  onclick="verify('+id+',\'off\')"  class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> désapprouver </a>  &nbsp ' +
                '<a href="#"  onclick="  dialog.modal(\'hide\');"  class="btn"><span class="glyphicon glyphicon-remove"></span> annuler </a> </div>'

                 ,

                closeButton: false
            });
// do something in the background

        }

        function verify(id , status) {
            x = new XMLHttpRequest();
            x.onreadystatechange=function () {
                if ((x.readyState==4) && (x.status==200)){
                 row=   $('#'+id).closest('td').parent()[0].sectionRowIndex+1
                     document.getElementById("users").deleteRow(row);

                    dialog.modal('hide');
                }
            }
            url="{{path('editUser')}}?id="+id+"&verify="+status;



            // alert(url);
            x.open('GET',url,true);
            x.send();


        }
        function tt(id) {
            var image=document.getElementById(id);
          alert (id);
alert();
          //  document.getElementById("users").deleteRow(dd);
        }


    </script>
</head>
<body>

            <table class="table table-striped table-condensed " id="users" >
                  <thead>
                  <tr>
                      <th>Username</th>
                       <th>genre</th>
                       <th>Email</th>
                      <th>Role</th>
                      <th>Status</th>    
<th class="text-center">Action</th>					  
                  </tr>
              </thead>   
              <tbody>


                <tr>

                    {% for k  in m %}
                    <td>
                        <img id="img{{ k.id }}" src="{{ k.urlPicture }}" class="media-photo"> 	<span id="name{{ k.id }}">{{ k.firstname }} {{ k.lastname }}</span>
                    </td>
                    <td>{{ k.gender }}</td>
                    <td>{{ k.email }}</td>
                    {% if k.role == true %}
                        <td>admin</td>
                    {% else %}
                        <td>membre</td>
                    {% endif %}


                    {% if k.statut  == true %}
                        <td id="span{{ k.id }}" > <span   class="label label-success">Active</span></td>

                    {% endif %}

                    {% if k.statut  == false %}
                        <td id="span{{ k.id }}" ><span class="label label-danger">Blocked</span></td>

                    {% endif %}
                    <td  class="text-center"> <input id="cin{{ k.id }}" type="hidden" value="{{ k.urlCin }}"/> <a id="{{ k.id }}"   onclick="show(this.id)" class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Verifier</a> </td>
                </tr>

                {% endfor %}

              </tbody>
            </table>

<script type="text/javascript">

</script>
</body>
</html>
